body {
	margin: 0;
	line-height: 1.4;
}

.main {
	margin-top: 75px;
}

.header {
	display: flex;
	background-color: #ec6342;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 2;
}

#logo {
	height: 75px;
	margin-right: 10px;
}

#logolink {
	font-size: 0px;
}

nav {
	margin: auto auto auto 0;
}

nav a {
	font-size: 20px;
	padding: 10px;
	color: white;
	text-decoration: none;
}

h1 {
	font-size: 5vw;
	color: white;
	display: flex;
	position: absolute; 
	left: 0; 
	right: 0; 
	margin: 20vh auto 0 auto;
	width: 55vw;
	display: none;
}

#load {
	width: 10vw;
	left: 50%;
	margin: 30vh 0 0 -5vw;
	position: absolute;
	user-select: none;
	z-index: -10;
}

#arrow{
	width: 20vw;
	left: 50%;
	margin: 50vh 0 0 -10vw;
	position: absolute;
	user-select: none;
	z-index: 10;
}

#video1 {
	width: 100%;
	z-index: -1;
}

.homeImages {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.homeImages img {
	height: 20vw;
	margin: 2vw;
	border-radius: 5px;
	cursor: pointer;
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1;
	text-align: center;
}

.overlay img {
	margin-top: 10%;
	max-height: 70%;
	opacity: 0;
	transition: opacity .3s;
	border-radius: 5px;
}

.overlay img.active {
	opacity: 1;
}

.close {
	position: absolute;
	top: 100px;
	right: 3%;
	font-size: 50px;
	cursor: pointer;
	color: white;
	z-index: 3;
}

.prev, .next {
	position: absolute;
	top: 50%;
	font-size: 40px;
	cursor: pointer;
	color: white;
}

.prev {
	left: 3%;
}

.next {
	right: 3%;
}

.homeFlexBox {
	display: flex;
	margin: 20px;
}

#aboutMe {
	margin: 0 2vw 0 2vw;
	font-family: 'Open Sans', sans-serif;
}

#homePano {
	margin: 2vw;
	width: 40vw;
	height: 100%;
	flex: 1 100%;
	border-radius: 10px;
	border: 1px solid white;
}

.portfolioContent {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.portfolioContent img {
	width: 30vw;
	margin: 1vw;
	border-radius: 5px;
	cursor: pointer;
}

#portfolioPano {
	width: 30vw;
	margin: 1vw;
	border-radius: 5px;
	border: none;
}

#portfoliovid {
	width: 30vw;
	margin: 1vw;
	border-radius: 5px;
}

#float {
	width: 15vw;
	position: fixed;
	left: 7px;
	margin-top: 8px;
	font-family: Arial, sans-serif;
	color: #342247;
	position: fixed;
	font-weight: bold;
	border: 4px solid #342247;
	border-radius: 5px;
	font-size: 15px;
}

#map {
	width: 15vw;
	height: 50vh;
}

#caption {
	font-size: 25px;
	color: white;
}

h5, p {
	margin: 2px;;
}

@media only screen and (max-width: 1100px) {
	#float {
		display: none;
	}
}
@media only screen and (max-width: 600px) {
	.main {
		margin-top: 35px;
	}

	.homeFlexBox {
		display: inline;
	}

	#homePano {
		margin: 0 15px 0 15px;
		width: 90%;
	}

	#aboutMe {
		margin: 0 20px 0 20px;
	}

	h1 {
		margin: 12vh auto 0 auto;
		font-size: 7vw;
		width: 75vw;
	}

	.portfolioContent img, #portfoliovid {
		width: 100%;
		height: auto;
	}

	#portfolioPano {
		width: 100%;
		height: auto;
	}

	nav a {
		font-size: 12px;
		padding: 3px;
	}

	#logo {
		height: 35px;
		margin-right: 6px;
	}

	.overlay img {
		border-radius: 0px;
		margin-top: 30%;
	}

	#arrow {
		display: none;
	}
}
