body {
	margin: 0;
 	line-height: 1.6;
	font-family: 'Open Sans', sans-serif;
}

.header {
	display: flex;
	background: #ec6342;
}

#logo {
	height: 75px;
	outline: 8px solid white;
}

.backgroundVideoBox {
	position: relative;
}

#video1 {
	width: 100%;
	z-index: -1;
}

h1 {
	font-size: 78px;
	position: absolute;
	left:50%;
	color: white;
    margin: 100px 0 0 -420px;
	font-family: "Times New Roman", Times, serif;	
}

#arrow {
	position: absolute;
	left:50%;
    margin: 50vh 0 0 -160px;
}

nav {
	margin: 23px;
}

nav a {
	font-size: 20px;
	padding: 30px;
	color: white;
	text-decoration: none;
	font-family: "Times New Roman", Times, serif;	
}

.homeImages {
	display: flex;
	justify-content: space-evenly;
}
.homeImages img {
	margin: 40px;
	width: 100%;
	border-radius: 10px;
}

.homeFlexBox {
	display: flex;
	margin: 20px;
}

#aboutMe {
	margin: 0 40px 0 80px;
}

#homePano {
	margin: 20px;
	width: 40vw;
	height: 100%;
	flex: 1 100%;
	border-radius: 10px;
	border: 1px solid white;
}

.portfolioContent {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.portfolioContent img {
	height: 40vh;
	margin: 20px;
	border-radius: 10px;
}

#portfolioPano {
	height: 40vh;
	width: 100%;
	margin: 20px;
	border-radius: 10px;
	border: 1px solid white;
}

.mapFormFlex {
	display: flex;
}

.right embed{
	height: 500px;
	width: 100%;
}
.right p {
	margin: 0 40px 0 40px;
	font-size: 20px;
}

.form {
	width: 250vw;
}
